{% extends 'baseuser.html.twig'  %}

{% block title %} Hello CartController!
{% endblock %}

{% block body %}
    <section class="bg-light p-7">
        <h1>Votre panier</h1>

    <table class="table">
        <thead>

        <tr>
            <th>libelle</th>
            <th>Prix</th>
            <th>quantie</th>



            <th>Total</th>
            <th>Actions</th>

        </tr>
        </thead>

    <tbody>

    {% for element in dataPanier %}
    <tr>
        <td>{{ element.produit.libelle }}</td>
        <td class="text-end">{{ element.produit.Prix }} €</td>
        <td>{{ element.quantite }}</td>
        {% endfor %}
    </tbody>


    </table>
    </section>
{% endblock %}