{% extends 'baseuser.html.twig'  %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-7">
        <h1>Votre panier</h1>
    </div>
    <div class="bg-light p-7">
   <b> Surprise, c'est vide !</b>
    </div>
{% endblock %}