







{% extends 'baseUser.html.twig' %}

{% block body %}



    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%  for produit in b  %}                <br/>
                <div class="col">
                    <div class="card shadow-sm">

                       <br/>
                        <div class="card-body ">

                            <p class="card-text">{{  produit.marque}}</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                </div>
                            </div>

                        </div>

                    </div>
                    <br/>
                </div>
                <br/>

            {% endfor %}
        </div>

    </div>



{% endblock %}










