{% extends 'baseUser.html.twig' %}

{% block body %}



				<div class="container">

					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						{% for stream in s %}
							<br/>
						<div class="col">
							<div class="card shadow-sm">

								<iframe  src="{{ stream.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<br/>
								<div class="card-body ">

									<p class="card-text">{{ stream.titreStream }}</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-dark"> Regarder </button>
											<a href="{{ path('edit_user_stream',{"idStream" : stream.idStream}) }}"  class="btn-outline-primary">Modifier</a>
										</div>
										<small class="text-muted">{{ stream.createdAt | date }}</small>
									</div>
								</div>

							</div>
							<br/>
						</div>
							<br/>

						{% endfor %}
					</div>

				</div>



{% endblock %}

