<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
             <link rel="stylesheet" href="assetsUser/css/bootstrap.min.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/font-awesome.min.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/elegant-icons.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/plyr.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/nice-select.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/owl.carousel.min.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/slicknav.min.css" type="text/css">
             <link rel="stylesheet" href="assetsUser/css/style.css" type="text/css">
        {% endblock %}

        {% block javascripts %}
          <script src="assetsUser/js/jquery-3.3.1.min.js"></script>
          <script src="assetsUser/js/bootstrap.min.js"></script>
          <script src="assetsUser/js/player.js"></script>
          <script src="assetsUser/js/jquery.nice-select.min.js"></script>
          <script src="assetsUser/js/mixitup.min.js"></script>
          <script src="assetsUser/js/jquery.slicknav.js"></script>
          <script src="assetsUser/js/owl.carousel.min.js"></script>
          <script src="assetsUser/js/main.js"></script>
        {% endblock %}
    </head>
    <body>
    {% block header %}
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="assetsUser/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Categories</a></li>
                                        <li><a href="./anime-details.html">Anime Details</a></li>
                                        <li><a href="./anime-watching.html">Anime Watching</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./signup.html">Sign Up</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    {% endblock %}
    {% block body %}{% endblock %}
    </body>
</html>
