<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>




</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="footer primary">
</footer>




{% block javascripts %}

{% endblock %}
<script src="{{ asset('js/scripts.js') }}"></script>
</body>
</html>