{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="produit" width="400" height="100"></canvas>
        <canvas id="promotion" width="400" height="100"></canvas>


    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>
        let categories = document.querySelector("#produit")

        let categGraph = new Chart(produit,  {

                type: "pie",
                data: {
                    labels:"",

                    datasets:[
                        {
                        label:["produit"],
                        data:{{ proIdprod|raw }} ,
                            backgroundColor: ["red"],

                    },

                        {
                            label:["produit"],

                            data:{{ proIdprom|raw }} ,
                            backgroundColor: ["green"],
                        }

]







                }


            }


          )
       /* let promotion = document.querySelector("#promotion")
        let produit = document.querySelector("#produit")
        let pGraph = new Chart(promotion,produit, {
            type: "line",
            data: {
                labels: ["produit"],
                datasets: [{
                    label: "Nombre promotion",
                    data:{{ proIdprod|raw }},
                    backgroundColor:["red"],

                }]
            },

                labels:["promotion"],
                datasets: [{
                    label: "Nombre promotion",
                    data:{{ proIdprom|raw }},
                    backgroundColor:["green"],

                }]
               })


*/
    </script>
{% endblock %}